.category {
    margin-top: 50px !important;
    width: 1200px !important;
    margin-left: 15px;
}
.category__item {
}
.category__img {
  height: 270px;
  width: 90%;
  position: relative;
}
.category__btn {
  position: absolute;
  bottom: 6%;
  left: 13%;
  width: 74%;
  border: none;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 0 10px;
  background: #ffffff;
  display: block;
}
